@import "../node_modules/@syncfusion/ej2-react-grids/styles/material.css";

.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background: #5f5f5e;
  color: white;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
